*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --base-color: hsl(191, 95%, 8%);
    --fst-color: hsl(from var(--base-color) h s calc(l + 10));
    --snd-color: hsl(from var(--base-color) h s calc(l + 20));
    --base-drk: hsl(from var(--base-color) h s calc(l - 4));
    --base-blc: hsl(from var(--base-color) h s calc(l - 8));
}

body{
    height: 100vh;
    background-image: url(../image/highway-wallpaper-768.jpg);
    background-repeat: no-repeat;
    background-position: bottom center;
    position: relative;
}

#login-box{
    width: 400px;
    height: 320px;
    position: absolute;
    top: 10vw;
    left: 22vh;
    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(3px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    box-shadow: 2,5px 5px 5px 0 hsl(0, 0%, 0%);
}


div > h1{
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
    color: var(--snd-color);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

div > p{
    text-align: center;
    margin-top: 20px;
}

form{
    text-align: center;
    margin: 30px 0 30px 0;
}

form > p{
    margin-top: 10px;
}

input{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid var(--fst-color);
    border-radius: 20px;
    height: 25px;
    width: 200px;
}

div > p > a{
    color: var(--snd-color);
    text-decoration: none;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}